@import url(pessoa-funcao.css);
@import url(pessoa-imagem.css);
@import url(pessoa-nome.css);

.pessoa {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}
